*{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}


body{

  background-color: #ebedef;
}

#root{
  background-color: #ebedef;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #7BC4B2;

}